@import "global/01-mixins";
@import "fonts";
@import "global/03-vars";
html {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    padding-top: 98px;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #252525;
    position: relative;
    height: 100%;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #fff;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 8px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 0 0 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 20px;
}

.desc {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .block {
        width: 100%;
    }
}

.hamburger-icon {
    width: 31px;
    height: 31px;
    box-sizing: border-box;
    position: relative;
    display: none;
    border: 1px solid #101828;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    z-index: 999;
}

.hamburger-icon .line {
    position: absolute;
    left: 6px;
    display: block;
    background: #101828;
    width: 17px;
    height: 1px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.mobile-menu,
.mobile-menu-footer {
    display: none;
}

.line.line-1 {
    top: 9px;
}

.line.line-3 {
    top: 71%;
}

.line.line-2 {
    top: 51%;
}

.hamburger-icon.active .line-1 {
    top: 7px;
    transform: translateY(7px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -moz-transform: translateY(7px) translateX(0) rotate(45deg);
    -ms-transform: translateY(7px) translateX(0) rotate(45deg);
    -o-transform: translateY(7px) translateX(0) rotate(45deg);
}

.hamburger-icon.active .line-2 {
    opacity: 0;
}

.hamburger-icon.active .line-3 {
    top: 74%;
    transform: translateY(-7px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -o-transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.container {
    max-width: 1562px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}

.ov-hidden {
    @include tr;
    overflow: hidden;
    &::after {
        content: '';
        display: block;
        @include abs100;
        z-index: 99;
        background: rgba(0, 0, 0, 0.38);
    }
}

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    padding: 28px 0 28px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    margin-right: 49px;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li {
        margin-right: 57px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #6B6B6B;
    }
}

.social {
    display: flex;
    margin-right: 76px;
    justify-content: flex-start;
    align-items: unset;
    a {
        display: block;
        margin-right: 59px;
        &:last-child {
            margin-right: 0;
        }
        &:hover svg {
            fill: #1F77FC;
        }
    }
    svg {
        @include tr;
        fill: #5F5F5F;
    }
}

.sub {
    position: relative;
}

.sub-menu {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    max-height: 0;
    background: #fff;
    min-width: 250px;
    transition: .3s;
    li {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 15px;
        &:first-child {
            margin-top: 38px;
            padding-top: 15px;
            border-top: 1px solid #1F77FC;
            ;
        }
    }
}

.tel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 0 6px 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    i {
        display: inline-block;
        vertical-align: top;
        width: 28px;
        height: 28px;
        margin-right: 10px;
    }
    svg {
        @include tr;
    }
}

.top-slider__item-box {
    width: 100vw;
}

.top-slider__item {
    position: relative;
    height: 0;
    padding-bottom: 34.6821%;
    .container {
        padding-top: 186px;
    }
    .subtitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 18px;
    }
    .title {
        font-weight: normal;
        font-size: 49px;
        line-height: 100%;
        width: 57%;
        color: #000000;
        margin-bottom: 27px;
    }
    .desc {
        font-weight: 300;
        font-size: 25px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 27px;
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.btn-orange {
    display: block;
    max-width: 156px;
    font-weight: bold;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FB4A24;
    border-radius: 33px;
    padding: 16px 0 15px 0;
}

.top-slider {
    .slick-prev,
    .slick-next {
        @include tr;
        top: 50.5%;
        width: 64px;
        height: 64px;
        background: rgba(255, 255, 255, 0.13);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 2;
    }
    .slick-prev {
        left: 51px;
    }
    .slick-next {
        right: 51px;
    }
    .slick-prev:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background: url(../img/left.svg) no-repeat center;
    }
    .slick-next:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background: url(../img/right.svg) no-repeat center;
    }
    .slick-dots {
        padding-left: 195px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        bottom: 76px;
    }
    .slick-dots li {
        width: 6px;
        height: 6px;
        margin: 0;
        margin-right: 24px;
        &:last-child {
            margin-right: 0;
        }
    }
    .slick-dots li button {
        padding: 0;
        width: 6px;
        height: 6px;
        border: 1px solid transparent;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: rgba(202, 202, 202, 0.6);
    }
    .slick-dots li button::before {
        content: none;
    }
    .slick-dots .slick-active button {
        background: #fff;
        border-color: #FB4A23;
    }
}

.top-slider:not(.slick-initialized) .top-slider__item {
    min-height: 660px;
}

.top-slider:not(.slick-initialized) .top-slider__item:nth-child(2n+1) {
    display: none;
}

.exs {
    margin-bottom: 88px;
}

.exs-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.exs-item {
    position: relative;
    z-index: 5;
    max-width: 360px;
    width: 100%;
    padding: 58px 15px 49px 45px;
    background: #FAFAFA;
    border-radius: 6px;
    min-height: 290px;
    overflow: hidden;
}

.tile__item-img::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #FAFAFA;
}

.tile__item-img {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.tile__item-img img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    clip-path: circle(0 at 80px 90px);
    -webkit-transition: -webkit-clip-path 0.5s;
    transition: -webkit-clip-path 0.5s;
    transition: clip-path 0.5s;
    transition: clip-path 0.5s, -webkit-clip-path 0.5s;
}

.exs-img {
    position: relative;
    @include tr;
    width: 64px;
    height: 64px;
    border: 1px solid #000000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 23px;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.exs-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 13px;
    @include tr;
}

.exs-desc {
    font-weight: normal;
    padding-right: 50px;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    @include tr;
}

.auto {
    .title {
        font-weight: normal;
        font-size: 33px;
        line-height: 100%;
        text-align: center;
        color: #000000;
        margin-bottom: 25px;
    }
}

.top-wrap {
    overflow: hidden;
}

.auto-items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.auto-item {
    display: block;
    position: relative;
    width: 230px;
    height: 230px;
    margin-right: 30px;
    margin-bottom: 30px;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.auto-item:nth-child(6n) {
    margin-right: 0;
}

.auto {
    padding-bottom: 47px;
}

.about {
    padding: 178px 0 208px 0;
    background: #101828;
}

.about-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 165px;
    .title {
        font-weight: normal;
        font-size: 45px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 0;
    }
}

.about-info__left {
    width: 37%;
}

.about-info__right {
    width: 60%;
    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 0;
    }
}

.steps {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.step-item {
    position: relative;
    margin-right: 46px;
    max-width: 260px;
    z-index: 5;
    &:last-child {
        margin-right: 0;
    }
}

.step-title {
    position: relative;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -16px;
        width: 41px;
        height: 1px;
        background: #FB4A23;
    }
}

.step-num {
    position: absolute;
    top: -77px;
    left: 0;
    font-weight: normal;
    font-size: 112px;
    line-height: 100%;
    letter-spacing: -0.07em;
    z-index: -1;
    color: rgba(255, 255, 255, 0.16);
}

.actions {
    .title {
        font-weight: normal;
        font-size: 30px;
        line-height: 100%;
        color: #000000;
    }
}

.footer-top {
    padding: 46px 0 42px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
}

.footer-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-links {
    column-count: 4;
    column-gap: 19px;
    a {
        display: block;
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 12px;
        line-height: 200%;
        color: #383838;
    }
}

.footer-info {
    padding-top: 47px;
    padding-bottom: 37px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.footer-info__left {
    width: 46%;
}

.footer-info__right {
    width: 34%;
}

.footer-about {
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;
    color: #383838;
}

.actions {
    padding: 122px 0 155px 0;
}

.actions-slider.slick-dotted {
    margin-bottom: 20px;
    .slick-dots {
        top: -34px;
        bottom: initial;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li {
            margin-right: 7px;
            width: 6px;
            height: 6px;
            &:last-child {
                margin-right: 0;
            }
        }
        button {
            width: 6px;
            height: 6px;
            padding: 0;
            background: #FB4A23;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        button:before {
            content: none;
        }
        .slick-active {
            width: 26px;
        }
        .slick-active button {
            width: 26px;
            background: #101828;
            border-radius: 14px;
        }
    }
}

.actions-slider__item {
    max-width: 490px;
    width: 100%;
    outline: none;
    margin: 0 15px;
    min-height: 248px;
    background: #F7F7F7;
    border-radius: 6px;
    padding: 34px 15px 10px 33px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    svg {
        @include tr;
        fill: transparent;
        stroke: #000;
    }
}

.actions-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    width: 48%;
    color: #000000;
    margin-bottom: 16px;
}

.btn-more {
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #000000;
    i {
        @include tr;
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 22px;
        height: 22px;
        margin-right: 9px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        svg {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.all-actions {
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
}

.news {
    padding: 0 0 150px 0;
}

.news-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 18px;
}

.news-box__left {
    .title {
        font-weight: normal;
        font-size: 30px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 18px;
    }
}

.anchor-up {
    font-weight: 600;
    font-size: 10px;
    margin-left: 55px;
    line-height: 100%;
    color: #373737;
    padding: 0 18px 0 0;
    background: url(../img/arr-anchor.svg) no-repeat right center;
}

footer {
    background: #FAFAFA;
    .tel {
        font-size: 17px;
    }
    .logo {
        width: 52.94px;
        height: 27px;
    }
    .gen {
        font-weight: normal;
        font-size: 10px;
        line-height: 100%;
        color: #676767;
    }
}

.copyright {
    border-top: 1px solid #EDEDED;
    padding-top: 21px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a,
    span,
    .year {
        font-weight: normal;
        font-size: 10px;
        line-height: 100%;
        color: #676767;
    }
}

.copyright-left * {
    margin-right: 50px;
    &:last-child {
        margin-right: 0;
    }
}

.news-slider-btns {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 18px;
    right: 16px;
    width: 84px;
    height: 66px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background: rgba(251, 250, 246, 0.15);
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 17px;
}

.prev-btn,
.next-btn {
    position: relative;
    width: 50%;
}

.prev-btn:before {
    content: '';
    display: block;
    position: absolute;
    width: 200%;
    height: 100%;
    opacity: 0;
    @include tr;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(-270deg, rgba(255, 255, 255, 0.27) -4.76%, rgba(255, 255, 255, 0) 56.55%), rgba(251, 250, 246, 0.15);
}

.next-btn:before {
    content: '';
    display: block;
    position: absolute;
    width: 200%;
    height: 100%;
    opacity: 0;
    @include tr;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.27) -4.76%, rgba(255, 255, 255, 0) 56.55%), rgba(251, 250, 246, 0.15);
}

.slick-arrow.slick-hidden {
    display: block;
}

.prev-btn {
    background: url(../img/prev-arr.svg)no-repeat center;
}

.prev-btn:hover::before {
    opacity: 1;
}

.next-btn:hover::before {
    opacity: 1;
}

.next-btn {
    background: url(../img/next-arr.svg)no-repeat center;
}

.news-box__left {
    width: 49.02%;
}

.news-title {
    font-weight: normal;
    font-size: 29px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.news-slider-box {
    position: relative;
}

.news-img {
    height: 0;
    position: relative;
    padding-bottom: 66%;
    border-radius: 6px;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
        object-position: center;
    }
}

.news-slider__item {
    position: relative;
    a {
        position: relative;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        i {
            @include tr;
            top: 9px;
            right: -48px;
            display: block;
            width: 27px;
            height: 6px;
            position: absolute;
            background: url(../img/arr-line.svg) no-repeat center;
        }
    }
}

.news-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 15px 60px 60px 60px;
}

.news-box__right {
    width: 49%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.news-list {
    padding-top: 48px;
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.news-item {
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    max-height: 296px;
    z-index: 5;
    margin-bottom: 30px;
    z-index: 5;
    &::before {
        content: '';
        display: block;
        z-index: -1;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) -47.25%, #1B3954 102.62%);
        background-blend-mode: multiply;
        @include abs100;
    }
    a {
        position: relative;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
        i {
            transition: all 0.2s cubic-bezier(0.75, 0.02, 0.5, 1);
            -webkit-transition: all 0.2s cubic-bezier(0.75, 0.02, 0.5, 1);
            -moz-transition: all 0.2s cubic-bezier(0.75, 0.02, 0.5, 1);
            -ms-transition: all 0.2s cubic-bezier(0.75, 0.02, 0.5, 1);
            -o-transition: all 0.2s cubic-bezier(0.75, 0.02, 0.5, 1);
            top: 9px;
            right: -48px;
            display: block;
            width: 27px;
            height: 6px;
            position: absolute;
            background: url(../img/arr-line.svg) no-repeat center;
        }
    }
}

.news-item:last-child {
    max-height: 168px;
    margin-bottom: 0;
    &::before {
        content: '';
        display: block;
        background: rgba(251, 74, 35, 0.9);
        @include abs100;
    }
}

.news-item:last-child .news-item-img {
    padding-bottom: 46.67%;
}

.news-item-img {
    position: relative;
    height: 0;
    padding-bottom: 82.223%;
    img {
        @include abs100;
        object-fit: cover;
        object-position: center;
    }
}

.news-item-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.news-item-content {
    @include abs100;
    padding: 15px 61px 32px 38px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.small-news {
    margin-left: 30px;
    .title {
        font-weight: normal;
        font-size: 30px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 18px;
    }
}

.small-news-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
}

.small-news-img {
    flex-shrink: 0;
    position: relative;
    width: 153px;
    border-radius: 6px;
    margin-right: 23px;
    overflow: hidden;
    height: 0;
    padding-bottom: 28.08%;
    img {
        @include abs100;
        @include tr;
        object-position: center;
        object-fit: cover;
    }
}

.small-news-title {
    font-weight: normal;
    font-size: 14px;
    line-height: 124%;
    color: #000000;
    margin-bottom: 10px;
}

.small-news-date {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: #9E9E9E;
    padding: 0 0 0 0;
    i {
        display: inline-block;
        vertical-align: top;
        width: 14px;
        height: 14px;
        margin-right: 4px;
    }
    svg {
        @include tr;
        fill: #9E9E9E;
    }
}

.all-news {
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
}

@media screen and (min-width:992px) {
    .menu a:hover {
        color: #1F77FC;
    }
    li.sub:hover>a {
        color: #1F77FC;
    }
    li.sub:hover ul.sub-menu {
        max-height: 2500px;
    }
    .tel:hover svg {
        fill: #1F77FC;
    }
    .all-actions:hover,
    .all-news:hover {
        text-decoration: underline;
    }
    .small-news-item:hover img {
        transform: scale(1.5);
    }
    .small-news-item:hover svg {
        fill: #FB4A23;
    }
    .exs-item:hover .tile__item-img img {
        -webkit-transition: -webkit-clip-path 1s 0.1s;
        transition: -webkit-clip-path 1s 0.1s;
        transition: clip-path 1s 0.1s;
        transition: clip-path 1s 0.1s, -webkit-clip-path 1s 0.1s;
        -webkit-clip-path: circle(150% at 0 0);
        clip-path: circle(150% at 0 0);
    }
    .exs-item:hover .exs-img {
        background: rgba(255, 255, 255, 0.7);
        border-color: rgba(255, 255, 255, 0.7);
    }
    .exs-item:hover .exs-title {
        color: #FFFFFF;
    }
    .exs-item:hover .exs-desc {
        color: #FFFFFF;
    }
    .news-slider__item a:hover i {
        transform: translateX(9px);
        -webkit-transform: translateX(9px);
        -moz-transform: translateX(9px);
        -ms-transform: translateX(9px);
        -o-transform: translateX(9px);
    }
    .news-item a:hover i {
        transform: translateX(9px);
        -webkit-transform: translateX(9px);
        -moz-transform: translateX(9px);
        -ms-transform: translateX(9px);
        -o-transform: translateX(9px);
    }
    .actions-slider__item:hover .btn-more i {
        background: #FB4A23;
        border-color: #FB4A23;
    }
    .actions-slider__item:hover .btn-more i svg {
        stroke: #fff;
    }
    .btn-orange:hover {
        background: #ec4824;
    }
    .modal-close:hover {
        opacity: 0.7;
    }
    .top-slider .slick-arrow:hover {
        background: rgba(255, 255, 255, 0.3);
    }
}


/* 
    M O B I L E
*/

@media screen and (max-width: 1780px) {
    .top-slider__item .container {
        padding-top: 145px;
        padding-left: 100px;
    }
}

@media screen and (max-width: 1600px) {
    .top-slider .slick-dots {
        justify-content: center;
        padding-left: 0;
        bottom: 30px;
    }
    .top-slider__item .container {
        padding-top: 115px;
        padding-left: 150px;
    }
    .top-slider .slick-next {
        right: 15px;
    }
    .top-slider .slick-prev {
        left: 15px;
    }
}

@media screen and (max-width: 1562px) {
    .container {
        max-width: 1200px;
    }
    .top-slider__item .container {
        padding-top: 115px;
        padding-left: 0;
    }
    .top-slider__item .title {
        font-size: 42px;
    }
    .exs-item {
        min-height: 255px;
        max-width: initial;
        width: 24%;
        padding: 35px 15px 15px 25px;
    }
    .auto-items {
        justify-content: center;
    }
    .auto-item {
        width: 200px;
        height: 200px;
        margin: 0 10px;
        margin-bottom: 30px;
    }
    .auto-item:nth-child(6n) {
        margin: 0 10px;
        margin-bottom: 30px;
    }
    .about-info .title {
        font-size: 36px;
    }
    .step-title {
        font-size: 18px;
    }
    .actions {
        .container {
            max-width: 100%;
        }
    }
    .actions-slider.slick-dotted {
        margin: 0 -16px;
        margin-bottom: 20px;
        .slick-list {
            padding: 0 16px;
        }
    }
    .actions-slider.slick-dotted .slick-dots {
        right: 16px;
    }
    footer .menu li {
        margin-right: 35px;
    }
    .footer-info__left {
        width: 58%;
    }
    .news-item-title {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .news-item-content {
        padding: 15px 15px 25px 15px;
    }
    .news-title {
        font-size: 20px;
    }
    .news-list {
        flex-shrink: 0;
    }
    .news-box__left {
        width: 38%;
    }
    .news-box__right {
        width: 61%;
    }
    .news-content {
        padding: 15px 25px 30px 25px;
    }
    // .news-box {
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    // }
    // .news-box__left {
    //     width: 70%;
    //     margin-bottom: 35px;
    // }
    // .news-box__right {
    //     width: 100%;
    // }
}

@media screen and (max-width: 1360px) {
    .top-slider__item .container {
        padding-left: 50px;
    }
}

@media screen and (max-width: 1280px) {
    .top-slider__item .container {
        padding-left: 100px;
    }
}

@media screen and (max-width: 1200px) {
    html,
    body {
        min-width: 320px;
        width: 100%;
        overflow-x: hidden;
    }
    a:focus {
        outline: none;
    }
    .top-slider__item .title {
        font-size: 32px;
    }
    .exs-items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .exs-item {
        width: 47%;
        margin: 0 10px;
        margin-bottom: 30px;
    }
    .about {
        padding: 80px 0 100px 0;
    }
    .about-info {
        flex-direction: column;
    }
    .about-info__left {
        width: 100%;
        margin-bottom: 20px;
    }
    .about-info__right {
        width: 100%;
    }
    header .menu li {
        margin-right: 20px;
    }
    .social a {
        margin-right: 35px;
    }
    .top-slider__item .container {
        padding-top: 75px;
    }
    .auto-item {
        width: 135px;
        height: 135px;
        margin: 0 25px;
        margin-bottom: 50px;
    }
    .auto-item:nth-child(6n) {
        width: 135px;
        height: 135px;
        margin: 0 25px;
        margin-bottom: 50px;
    }
    footer .social {
        margin-right: 35px;
    }
    .anchor-up {
        margin-left: 35px;
    }
    .footer-info {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .footer-about {
        text-align: center;
    }
    .footer-info__right {
        width: 50%;
    }
    .footer-info__left {
        width: 80%;
        margin-bottom: 20px;
    }
    .copyright,
    .copyright-left {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .copyright-left * {
        margin-right: 0;
        margin-bottom: 20px;
    }
    footer .menu li {
        margin-right: 20px;
    }
    footer .menu a {
        font-size: 14px;
    }
    .news-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .news-box__left {
        width: 70%;
        margin-bottom: 35px;
    }
    .news-box__left .title {
        text-align: center;
    }
    .news-box__right {
        width: 100%;
        flex-direction: column;
    }
    .news-list {
        max-width: initial;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .news-item {
        width: 47%;
        margin: 0 15px;
    }
    .news-item:last-child {
        max-height: initial;
        margin-bottom: 0;
    }
    .news-item .news-item-img {
        height: 250px;
        padding-bottom: 0;
    }
    .news-item:last-child .news-item-img {
        height: 250px;
        padding-bottom: 0;
    }
    .small-news-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .small-news-img {
        width: 230px;
    }
    .small-news-item {
        width: 47%;
    }
}

@media screen and (max-width: 991px) {
    body {
        padding-top: 82px;
    }
    .sub-menu li:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
    }
    .sub-menu {
        position: static;
        min-width: initial;
        max-height: initial;
        display: none;
        transition: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        margin-top: 24px;
        border-bottom: 1px solid #EAEAEA;
    }
    .sub-menu li {
        text-align: right;
    }
    .menu .sub i {
        @include tr;
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 20px;
        height: 20px;
        margin-right: -5px;
        margin-left: 5px;
    }
    .sub i svg {
        @include tr;
        width: 8px;
        height: 5px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        fill: transparent;
        stroke: #6B6B6B;
    }
    .menu .sub.active>a {
        color: #1F77FC;
    }
    .menu .sub.active i svg {
        fill: transparent;
        stroke: #1F77FC;
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
    }
    header .menu li {
        text-align: right;
        width: 100%;
    }
    .mobile-menu .sub-menu li {
        margin-bottom: 25px;
        padding: 0;
    }
    .mobile-menu .sub-menu a {
        font-weight: normal;
        font-size: 12px;
        line-height: 100%;
    }
    .tel {
        font-size: 0;
    }
    .tel i {
        width: 31px;
        height: 31px;
    }
    .tel i svg {
        width: 31px !important;
        height: 31px !important;
    }
    .top-slider__item .desc {
        font-size: 21px;
    }
    .about-info {
        margin-bottom: 105px;
    }
    .top-slider__item .container {
        padding-left: 16px;
    }
    .auto-item {
        width: 25%;
        height: 150px;
    }
    .auto-item:nth-child(6n) {
        width: 25%;
        height: 150px;
    }
    .social a {
        margin-right: 50px;
    }
    .steps {
        flex-direction: column;
        align-items: flex-start;
    }
    .step-item {
        margin-right: 0;
        max-width: initial;
        width: 70%;
        margin-bottom: 125px;
    }
    .anchor-up {
        display: none;
    }
    .header .logo {
        width: 61px;
        height: 31.12px;
    }
    .header {
        padding: 19px 0 19px 0;
        border-bottom: 1px solid #EAEAEA;
    }
    .header-right>.social {
        display: none;
    }
    .hamburger-icon {
        display: block;
    }
    .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 92vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: start;
        height: 100vh;
        z-index: 995;
        overflow: auto;
        background: #FFFFFF;
        box-shadow: 22px 49px 94px rgba(0, 0, 0, 0.09);
        padding: 89px 23px 25px;
        box-sizing: border-box;
        transform: translate(92vw, 0);
        -webkit-transform: translate(92vw, 0);
        -moz-transform: translate(92vw, 0);
        -ms-transform: translate(92vw, 0);
        -o-transform: translate(92vw, 0);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: .3s ease-in-out;
    }
    .mobile-menu-footer {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 92vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: start;
        height: 100vh;
        z-index: 995;
        overflow: auto;
        background: #FFFFFF;
        box-shadow: 22px 49px 94px rgba(0, 0, 0, 0.09);
        padding: 89px 23px 25px;
        box-sizing: border-box;
        transform: translate(92vw, 0);
        -webkit-transform: translate(92vw, 0);
        -moz-transform: translate(92vw, 0);
        -ms-transform: translate(92vw, 0);
        -o-transform: translate(92vw, 0);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: .3s ease-in-out;
    }
    .mobile-menu.active {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    .mobile-menu-footer.active {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    .mobile-menu .menu,
    .mobile-menu-footer .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 40px;
    }
    .mobile-menu .menu li,
    .mobile-menu-footer .menu li {
        display: block;
        margin: 0 0 25px 0;
    }
    .mobile-menu .menu a,
    .mobile-menu-footer .menu a {
        font-weight: 500;
        font-size: 15px;
        line-height: 100%;
        text-align: right;
        color: #6B6B6B;
    }
    .about {
        padding: 80px 0 70px 0;
    }
    .step-item:last-child {
        margin-bottom: 0;
    }
    .social {
        margin-right: 0;
        margin-bottom: 43px;
    }
    .social svg {
        fill: #1F77FC;
    }
    .mobile-menu .tel,
    .mobile-menu-footer .tel {
        font-weight: 600;
        font-size: 15px;
        line-height: 100%;
        color: #000000;
        margin-right: 0;
    }
    .footer .social {
        display: none;
    }
    .tel i {
        margin-right: 0;
    }
    footer .tel {
        font-size: 0;
        margin-right: 17px;
    }
    header .tel {
        margin-right: 23px;
    }
    .mobile-menu .tel i,
    .mobile-menu-footer .tel i {
        margin-right: 9px;
    }
    .footer-top {
        position: relative;
    }
    .footer .mobile-menu-footer .social {
        display: flex;
        margin-right: 0;
    }
    .footer-top {
        padding: 18px 0 19px 0;
    }
}

@media screen and (max-width: 900px) {
    .small-news-img {
        width: 153px;
    }
    .small-news-item {
        width: 48%;
    }
    .footer-info__left {
        width: 100%;
    }
    .footer-links {
        column-count: 2;
        column-gap: 46px;
    }
    .footer-info__right {
        width: 100%;
        text-align: left;
    }
    .footer-about {
        text-align: left;
    }
    .copyright,
    .copyright-left {
        align-items: flex-start;
    }
    .top-slider__item .container {
        padding-top: 35px;
    }
    .top-slider__item .subtitle {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .top-slider__item .title {
        font-size: 24px;
        margin-bottom: 12px;
    }
    .top-slider__item .desc {
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    .news-box__left {
        width: 100%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 700px) {
    .exs-item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .news-box__right {
        display: none;
    }
    .news-box__left .title {
        text-align: left;
    }
    .news {
        padding: 0 0 50px 0;
    }
    .all-news {
        float: right;
        text-decoration: underline;
    }
    .news .container::after {
        content: '';
        display: table;
        clear: both;
    }
    .news-slider-btns {
        display: none;
    }
    .news-slider-box {
        margin: 0 -16px;
        .slick-list {
            padding: 0 16px;
        }
        .slick-slide {
            margin: 0 8px;
        }
    }
    .news-slider__item {
        z-index: 5;
        max-width: 265px;
        width: 100%;
        overflow: hidden;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) -10.89%, #1B3954 102.62%);
            background-blend-mode: multiply;
            border-radius: 6px;
            z-index: 0;
        }
    }
    .news-content {
        z-index: 10;
    }
    .news-title {
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
    }
    .news-slider__item a {
        font-weight: normal;
        font-size: 10px;
        line-height: 100%;
    }
    .news-content {
        padding: 15px 25px 20px 18px;
    }
    .news-slider__item a i {
        top: 3px;
        right: -37px;
    }
}

@media screen and (max-width: 640px) {
    [data-aos] {
        pointer-events: initial;
    }
    html:not(.no-js) [data-aos^='fade'][data-aos^='fade'] {
        opacity: 1;
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    .footer-info {
        padding-top: 24px;
        padding-bottom: 37px;
    }
    .copyright {
        border: none;
        background: #fff;
    }
    .footer-links a {
        margin-bottom: 14px;
    }
    footer .copyright-left .year,
    footer .copyright-right .gen {
        color: #000;
    }
    .footer-links {
        column-gap: 0;
    }
    .all-news {
        font-weight: normal;
        font-size: 14px;
    }
    .top-slider .slick-dots .slick-active button {
        background: transparent;
    }
    .news-box__left .title {
        font-weight: normal;
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 16px;
    }
    .exs-item {
        min-height: initial;
        padding: 25px 15px 24px 14px;
        margin-bottom: 18px;
    }
    .exs-img {
        width: 47px;
        height: 47px;
        margin-bottom: 17px;
    }
    .exs {
        margin-bottom: 59px;
    }
    .auto .title {
        font-weight: normal;
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 24px;
    }
    .exs-desc {
        padding-right: 14px;
        font-weight: normal;
        font-size: 12px;
        line-height: 150%;
    }
    .slick-dotted.slick-slider {
        margin-bottom: 18px;
    }
    .top-slider__item .subtitle {
        font-weight: normal;
        font-size: 14px;
        line-height: 100%;
        margin-bottom: 10px;
    }
    .top-slider__item .container {
        padding-top: 27px;
    }
    .top-slider__item .title {
        font-weight: normal;
        font-size: 33px;
        line-height: 100%;
        width: 100%;
    }
    .top-slider__item {
        padding-bottom: 151.876%;
    }
    .top-slider .slick-dots {
        bottom: 18px;
    }
    .auto-item {
        width: 132px;
        height: 132px;
        margin: 0 12px;
        margin-bottom: 24px;
    }
    .auto-item:nth-child(6n) {
        width: 132px;
        height: 132px;
        margin: 0 12px;
        margin-bottom: 24px;
    }
    .about-info__left {
        margin-bottom: 0;
    }
    .about {
        padding: 40px 0 56px 10px;
    }
    .about-info .title {
        font-weight: normal;
        font-size: 24px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 9px;
    }
    .about-info__right p {
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
    }
    .auto {
        padding-bottom: 50px;
    }
    .actions {
        padding: 50px 0 60px 0;
    }
    .actions .title {
        font-weight: normal;
        font-size: 24px;
        line-height: 100%;
        margin-bottom: 16px;
    }
    .actions-slider__item {
        display: none;
        background-color: #EEEEEE;
        max-width: 100%;
        padding: 16px 15px 52px 14px;
        margin: 0 0 20px 0;
        min-height: initial;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 90%;
        min-height: 146px;
    }
    .all-actions {
        float: right;
        font-weight: normal;
        font-size: 14px;
        text-decoration-line: underline;
        line-height: 100%;
    }
    .actions-slider__item:first-child,
    .actions-slider__item:nth-child(2),
    .actions-slider__item:nth-child(3) {
        display: block;
    }
    .actions-title {
        width: 58%;
        font-weight: normal;
        font-size: 14px;
        line-height: 120%;
        margin-bottom: 10px;
    }
    .btn-more i {
        margin-top: 3px;
        margin-right: 3px;
        width: 17px;
        height: 17px;
    }
}

@media screen and (max-width: 499px) {
    .auto-items {
        justify-content: space-between;
    }
    .auto-item img {
        width: 60%;
    }
    .auto-item {
        width: 132px;
        height: 132px;
        margin: 0 24px 24px 0;
    }
    .auto-item:nth-child(6n) {
        width: 132px;
        height: 132px;
        margin: 0 24px 24px 0;
    }
    .auto-item:nth-child(2n) {
        margin-right: 0;
    }
    .auto-item:last-child {
        margin-bottom: 0;
        margin-right: 0;
    }
}