@import "global/01-mixins";
@import "fonts";
@import "global/03-vars";
html {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    color: #252525;
    position: relative;
    height: 100%;
    background: #fff;
    -webkit-tap-highlight-color: transparent;
}

div,
section,
footer,
.btn {
    box-sizing: border-box;
}

a {
    color: #fff;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus,
input:focus {
    outline: none;
}

p {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin: 0 0 10px 0;
}

input {
    display: block;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    line-height: 29px;
    padding: 0 8px;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

input:hover,
input:focus {
    outline: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 0 0 0 0;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

.title {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
    line-height: 53px;
    margin-bottom: 20px;
}

.desc {
    color: #252525;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.wrapper {
    position: relative;
}

input:not([type=checkbox]):not([type=radio]),
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


/* I E   S T Y L E S */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    .block {
        width: 100%;
    }
}

#hamburger-icon {
    position: relative;
    display: none;
    width: 18px;
    height: 14px;
}

#hamburger-icon .line {
    position: absolute;
    left: 0;
    display: block;
    background: #ff6543;
    width: 18px;
    height: 2px;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
}

.mobile-menu {
    display: none;
}

.line.line-1 {
    top: 0;
}

.line.line-3 {
    top: 100%;
}

.line.line-2 {
    top: 50%;
}

#hamburger-icon.active .line-1 {
    transform: translateY(7px) translateX(0) rotate(45deg);
    -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
    -moz-transform: translateY(7px) translateX(0) rotate(45deg);
    -ms-transform: translateY(7px) translateX(0) rotate(45deg);
    -o-transform: translateY(7px) translateX(0) rotate(45deg);
}

#hamburger-icon.active .line-2 {
    opacity: 0;
}

#hamburger-icon.active .line-3 {
    transform: translateY(-7px) translateX(0) rotate(-45deg);
    -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -moz-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -ms-transform: translateY(-7px) translateX(0) rotate(-45deg);
    -o-transform: translateY(-7px) translateX(0) rotate(-45deg);
}

.container {
    max-width: 1562px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
    position: relative;
}

.ov-hidden {
    overflow: hidden;
}

.header {
    padding: 28px 0 28px 0;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    margin-right: 49px;
}

.header-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li {
        margin-right: 57px;
        &:last-child {
            margin-right: 0;
        }
    }
    a {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        color: #6B6B6B;
    }
}

.social {
    display: flex;
    margin-right: 76px;
    justify-content: flex-start;
    align-items: unset;
    a {
        display: block;
        margin-right: 59px;
        &:last-child {
            margin-right: 0;
        }
        &:hover svg {
            fill: #1F77FC;
        }
    }
    svg {
        @include tr;
        fill: #5F5F5F;
    }
}

.tel {
    padding: 6px 0 6px 38px;
    background: url(../img/ico-tel.svg) no-repeat left center;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
}

.top-slider__item {
    position: relative;
    height: 0;
    padding-bottom: 34.6821%;
    padding-bottom: 3.8536%;
    .container {
        padding-top: 186px;
    }
    .subtitle {
        font-weight: bold;
        font-size: 18px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 18px;
    }
    .title {
        font-weight: normal;
        font-size: 49px;
        line-height: 100%;
        width: 57%;
        color: #000000;
        margin-bottom: 27px;
    }
    .desc {
        font-weight: 300;
        font-size: 25px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 27px;
    }
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}

.btn-orange {
    display: block;
    max-width: 156px;
    font-weight: bold;
    font-size: 10px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #FB4A24;
    border-radius: 33px;
    padding: 16px 0 15px 0;
}

.top-slider {
    .slick-prev,
    .slick-next {
        @include tr;
        top: 50.5%;
        width: 64px;
        height: 64px;
        background: rgba(255, 255, 255, 0.13);
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        z-index: 2;
    }
    .slick-prev {
        left: 51px;
    }
    .slick-next {
        right: 51px;
    }
    .slick-prev:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background: url(../img/left.svg) no-repeat center;
    }
    .slick-next:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        background: url(../img/right.svg) no-repeat center;
    }
    .slick-dots {
        padding-left: 195px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        bottom: 76px;
    }
    .slick-dots li {
        width: 6px;
        height: 6px;
        margin: 0;
        margin-right: 24px;
        &:last-child {
            margin-right: 0;
        }
    }
    .slick-dots li button {
        padding: 0;
        width: 6px;
        height: 6px;
        border: 1px solid transparent;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        background: rgba(202, 202, 202, 0.6);
    }
    .slick-dots li button::before {
        content: none;
    }
    .slick-dots .slick-active button {
        background: #fff;
        border-color: #FB4A23;
    }
}

.top-slider:not(.slick-initialized) .top-slider__item {
    min-height: 660px;
}

.top-slider:not(.slick-initialized) .top-slider__item:nth-child(2n+1) {
    display: none;
}

.exs {
    margin-bottom: 88px;
}

.exs-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.exs-item {
    max-width: 360px;
    width: 100%;
    padding: 58px 15px 49px 45px;
    background: #FAFAFA;
    border-radius: 6px;
    min-height: 290px;
}

.exs-img {
    position: relative;
    width: 64px;
    height: 64px;
    border: 1px solid #000000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-bottom: 23px;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.exs-title {
    font-weight: normal;
    font-size: 20px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 13px;
}

.exs-desc {
    font-weight: normal;
    padding-right: 50px;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
}

.auto {
    .title {
        font-weight: normal;
        font-size: 33px;
        line-height: 100%;
        text-align: center;
        color: #000000;
        margin-bottom: 25px;
    }
}

.top-wrap {
    overflow: hidden;
}

.auto-items {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.auto-item {
    display: block;
    position: relative;
    width: 230px;
    height: 230px;
    margin-right: 30px;
    margin-bottom: 30px;
    img {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
    }
}

.auto-item:nth-child(6n) {
    margin-right: 0;
}

.auto {
    padding-bottom: 47px;
}

.about {
    padding: 178px 0 208px 0;
    background: #101828;
}

.about-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 165px;
    .title {
        font-weight: normal;
        font-size: 45px;
        line-height: 120%;
        color: #FFFFFF;
        margin-bottom: 0;
    }
}

.about-info__left {
    width: 37%;
}

.about-info__right {
    width: 60%;
    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 150%;
        color: #FFFFFF;
        margin-bottom: 0;
    }
}

.steps {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.step-item {
    position: relative;
    margin-right: 46px;
    max-width: 260px;
    z-index: 5;
    &:last-child {
        margin-right: 0;
    }
}

.step-title {
    position: relative;
    font-weight: normal;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: -16px;
        width: 41px;
        height: 1px;
        background: #FB4A23;
    }
}

.step-num {
    position: absolute;
    top: -77px;
    left: 0;
    font-weight: normal;
    font-size: 112px;
    line-height: 100%;
    letter-spacing: -0.07em;
    z-index: -1;
    color: rgba(255, 255, 255, 0.16);
}

.actions {
    .title {
        font-weight: normal;
        font-size: 30px;
        line-height: 100%;
        color: #000000;
    }
}

.footer-top {
    padding: 53px 0 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EDEDED;
}

.footer-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-links {
    column-count: 4;
    column-gap: 19px;
    a {
        display: block;
        margin-bottom: 24px;
        font-weight: 600;
        font-size: 12px;
        line-height: 200%;
        color: #383838;
    }
}

.footer-info {
    padding-top: 47px;
    padding-bottom: 37px;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.footer-info__left {
    width: 46%;
}

.footer-info__right {
    width: 34%;
}

.footer-about {
    font-weight: normal;
    font-size: 12px;
    line-height: 200%;
    color: #383838;
}

.actions {
    padding: 122px 0 155px 0;
}

.actions-slider.slick-dotted {
    margin-bottom: 20px;
    .slick-dots {
        top: -34px;
        bottom: initial;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        li {
            margin-right: 7px;
            width: 6px;
            height: 6px;
            &:last-child {
                margin-right: 0;
            }
        }
        button {
            width: 6px;
            height: 6px;
            padding: 0;
            background: #FB4A23;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        button:before {
            content: none;
        }
        .slick-active {
            width: 26px;
        }
        .slick-active button {
            width: 26px;
            background: #101828;
            border-radius: 14px;
        }
    }
}

.actions-slider__item {
    max-width: 490px;
    width: 100%;
    outline: none;
    margin: 0 15px;
    min-height: 248px;
    background: #F7F7F7;
    border-radius: 6px;
    padding: 34px 15px 10px 33px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.actions-title {
    font-weight: normal;
    font-size: 18px;
    line-height: 120%;
    width: 48%;
    color: #000000;
    margin-bottom: 16px;
}

.btn-more {
    font-weight: normal;
    font-size: 12px;
    line-height: 120%;
    color: #000000;
    i {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 22px;
        height: 22px;
        margin-right: 9px;
        border: 1px solid #000000;
        box-sizing: border-box;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        svg {
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
        }
    }
}

.all-actions {
    font-weight: normal;
    font-size: 18px;
    line-height: 100%;
    color: #000000;
}

.news {
    padding: 0 0 0 0;
    height: 731px;
}

.news-box__left {
    .title {
        font-weight: normal;
        font-size: 30px;
        line-height: 100%;
        color: #000000;
        margin-bottom: 20px;
    }
}

.anchor-up {
    font-weight: 600;
    font-size: 10px;
    margin-left: 55px;
    line-height: 100%;
    color: #373737;
    padding: 0 18px 0 0;
    background: url(../img/arr-anchor.svg) no-repeat right center;
}

footer {
    background: #FAFAFA;
    .tel {
        font-size: 17px;
    }
    .logo {
        width: 52.94px;
        height: 27px;
    }
    .gen {
        font-weight: normal;
        font-size: 10px;
        line-height: 100%;
        color: #676767;
    }
}

.copyright {
    border-top: 1px solid #EDEDED;
    padding-top: 21px;
    padding-bottom: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    a,
    span,
    .year {
        font-weight: normal;
        font-size: 10px;
        line-height: 100%;
        color: #676767;
    }
}

.copyright-left * {
    margin-right: 50px;
    &:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width:992px) {
    .actions-slider__item:hover .btn-more i {
        background: #FB4A23;
        border-color: #FB4A23;
    }
    .actions-slider__item:hover .btn-more i svg {
        stroke: #fff;
    }
    .btn-orange:hover {
        background: #ec4824;
    }
    .modal-close:hover {
        opacity: 0.7;
    }
    .top-slider .slick-arrow:hover {
        background: rgba(255, 255, 255, 0.3);
    }
}


/* 
    M O B I L E
*/

@media screen and (max-width: 1200px) {
    html,
    body {
        min-width: 320px;
        width: 100%;
        overflow-x: hidden;
    }
    a:focus {
        outline: none;
    }
}

@media screen and (max-width: 1199px) {}

@media screen and (max-width: 991px) {
    body {
        padding-top: 68px;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background: #152027;
        z-index: 99;
        width: 100%;
        box-shadow: 0 8px 20px rgba(200, 200, 200, .1);
    }
    #hamburger-icon {
        display: block;
    }
    .mobile-menu {
        position: fixed;
        top: 68px;
        right: 0;
        width: 100vw;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: calc(100vh - 68px);
        z-index: 30;
        overflow: auto;
        background: rgba(21, 32, 39, 0.95);
        padding: 35px 15px 25px;
        box-sizing: border-box;
        // box-shadow: inset 0 29px 33px rgba(0, 86, 189, .1);
        transform: translate(100vw, 0);
        -webkit-transform: translate(100vw, 0);
        -moz-transform: translate(100vw, 0);
        -ms-transform: translate(100vw, 0);
        -o-transform: translate(100vw, 0);
        transition: .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: .3s ease-in-out;
    }
    .mobile-menu.active {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
    .mobile-menu .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
    .mobile-menu .menu li {
        display: block;
        margin: 0 0 20px 0;
    }
    .mobile-menu .menu a {
        font-size: 24px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        width: 320px;
    }
    .modal-content {
        margin: 0 15px;
    }
}

// @import 'media';